<div class="gallery-slider">

    {% include '../molecules/gallery-view.twig' with {galleryImages: galleryImages} %}

    {% include '../molecules/gallery-controls.twig'%}

    {% include '../molecules/gallery-indicator.twig' with {galleryImages: galleryImages} %}

</div>
