<div class="header">

    {% include '../molecules/head-menu.twig' %}

    <div class="head-logo-wrap">
        {% include '../molecules/head-logo.twig' %}
    </div>

    <div style="clear: both;"></div>

</div>
