<form class="register-form">
       <div class="register-form-wrap">
            {% include '../molecules/form/form-text-input.twig', with {textBoxId: 'button-0', labelText: 'some label'}%}
            {% include '../molecules/form/form-text-input.twig', with {textBoxId: 'button-1', labelText: 'some label'}%}
            {% include '../molecules/form/form-text-input.twig', with {textBoxId: 'button-2', labelText: 'some label'}%}
            {% include '../molecules/form/form-text-input.twig', with {textBoxId: 'button-3', labelText: 'some label'}%}
            {% include '../molecules/form/form-text-input.twig', with {textBoxId: 'button-4', labelText: 'some label'}%}
            {% include '../molecules/form/form-text-input.twig', with {textBoxId: 'button-5', labelText: 'some label'}%}
            {% include '../molecules/form/form-text-input.twig', with {textBoxId: 'button-6', labelText: 'some label'}%}
            {% include '../molecules/form/form-text-button-input.twig', with {buttonText: 'hit me', textBoxId: 'button-7', labelText: 'some label'}%}
      </div>
</form>
