<div class="form-text-button-input">
    {% include '../../atoms/label/label.twig', with {labelReference: textBoxId, labelText: labelText} %}
    {% include '../../atoms/textBox/textBox.twig' with {textBoxId: textBoxId, placeholderText: labelText} %}
    {% include '../../atoms/button/button.twig', with {buttonText: buttonText} %}
</div>
