@import "../../global/colors";

%button {
    box-sizing: border-box;
    cursor:     pointer;
    transition: background-color 200ms ease-in;
}

%success {
    background-color: $color-success;
    border:           1px solid $color-success;

    &:hover {
        background-color: darken($color-success, 15%);
    }
}

%warning {
    padding: 15px;

}

%failure {
    background-color: $color-failure;
    border:           1px solid $color-failure;

    &:hover {
        background-color: darken($color-failure, 15%);
    }
}

$state-list: 'failure' 'success' 'warning';
// independent organism and molecule dependent rules
// states for all o/m dependent rules

.button {
    background-color: $color-primary;
    border:           1px solid $color-primary;
    box-sizing:       border-box;
    color:            $color-text-primary;
    cursor:           pointer;
    height:           50px;
    padding:          15px;
    transition:       background-color 200ms ease-in;
    width:            150px;

    &:hover {
        background-color: darken($color-primary, 15%);
    }
}

// o/m abweichungen
.form-text__button {
    margin: 5px;
    width:  100%;
}

.menu__button {
    background-color: lighten($color-primary, 15%);
    border:           0;
    height:           25px;
    padding:          5px;

    &:hover {
        background-color: lighten($color-primary, 35%);
    }
}

.sub-menu__button {
    background-color: $color-background-primary;
    border:           0;
    color:            $color-text-secondary;
    height:           25px;
    padding:          2px;
    width:            100px;

    &:hover {
        background-color: darken($color-primary, 35%);
    }
}

// states
.button--failure {
    background-color: $color-failure;
    border:           1px solid $color-failure;

    &:hover {
        background-color: darken($color-failure, 15%);
    }
}

.button--success {
    background-color: $color-success;
    border:           1px solid $color-success;

    &:hover {
        background-color: darken($color-success, 15%);
    }
}


@each $value in $state-list {
    .button,
    .menu__button,
    .sub-menu__button {
        &.button--state-#{$value} {
            @extend %#{$value};
        }
    }
}
