$color-primary: #27749b;
$color-secondary: #133713;
$color-tertiary: #888;


$color-success: #61e26c;
$color-failure: #e25c59;
$color-warning: #e2e180;


$color-background-primary: #fff;
$color-text-primary: #fff;
$color-text-secondary: black;
