
.head-menu__link-wrap {
    float:           left;
    display:         block;
    height:          auto;
    margin-right:    5px;
    text-decoration: none;
    width:           auto;
}

.head-menu {
    width: 50%;
}
