@import '../base/colors';
@import '../base/mixins';
@import './button-base';

.button {
    @extend %button;
}

.form-text__button {
    @extend %button;
    margin: 5px;
    width:  100%;
}

.menu__button {
    @extend %button;
    @include background-with-hover(lighten($color-primary, 15%), lighten($color-primary, 35%));
    height:  25px;
    padding: 5px;
}

.sub-menu__button {
    @extend %button;
    @include background-with-hover($color-background-primary, lighten($color-primary, 45%));
    border:  1px solid $color-primary;
    color:   $color-text-secondary;
    height:  25px;
    padding: 2px;
    width:   100px;
}
