{% extends '../layout.twig' %}

{% set componentName = 'button' %}

{% block head_content %}
    {% set active = 1 %}
{% endblock %}

{% block live_component %}
    <div class="section">
        <div class="container">

            <h1 class="tt-heading-small">
                small heading
            </h1>

            <h1 class="tt-heading-medium">
                medium heading
            </h1>

            <h1 class="tt-heading-big">
                big heading
            </h1>

        </div>
    </div>


{% endblock %}

{% set scss %}{% include '../base/_typo.scss' %}{% endset %}

{% block documentation %}
    <h1>scss</h1>
    <pre><code class="scss">{{ scss | escape('html') }}</code></pre>
{% endblock %}
