<button class="button button--small button--cta">Press Me</button>
<button class="button button--small button--cta button--success">Press Me</button>
<button class="button button--small button--cta button--failure">Press Me</button>
