// Version #3: BEM_BLOCK_OVERRIDE
// menu button: class="menu__button"
// sub menu button: class="sub-menu__button"
// form text button: class="form-text__button"
@import '../../global/colors';

%button {
    background-color: $color-primary;
    border:           1px solid $color-primary;
    box-sizing:       border-box;
    color:            $color-text-primary;
    cursor:           pointer;
    height:           50px;
    padding:          15px;
    transition:       background-color 200ms ease-in;
    width:            150px;

    &:hover {
        background-color: darken($color-primary, 15%);
    }
}

.button {
    @extend %button;
}

// o/m abweichungen
.form-text__button {
    @extend %button;
    margin: 5px;
    width:  100%;
}

.menu__button {
    @extend %button;
    background-color: lighten($color-primary, 15%);
    border:           0;
    height:           25px;
    padding:          5px;

    &:hover {
        background-color: lighten($color-primary, 35%);
    }
}

.sub-menu__button {
    @extend %button;
    background-color: $color-background-primary;
    border:           0;
    color:            $color-text-secondary;
    height:           25px;
    padding:          2px;
    width:            100px;

    &:hover {
        background-color: darken($color-primary, 35%);
    }
}

// states
.button--failure {
    background-color: $color-failure;
    border:           1px solid $color-failure;

    &:hover {
        background-color: darken($color-failure, 15%);
    }
}

.button--success {
    background-color: $color-success;
    border:           1px solid $color-success;

    &:hover {
        background-color: darken($color-success, 15%);
    }
}

