<form class="newsletter-form">
       <div class="newsletter-form-wrap">
                  <h2>Subscribe for Newsletter NOW:</h2>
{% include '../molecules/form/form-text-button-input.twig', with {buttonText: 'subscribe', textBoxId: 'button-subscribe', labelText: 'email'} %}
      </div>
</form>
